[Desktop Entry]
Name=Mosaik2-GUI
Exec=mosaik2-gui
Type=Application
Icon=io.github.Best_HeyGman.mosaik2-gui
Categories=Graphics;2DGraphics;RasterGraphics;Art;ImageProcessing
